<template>
  <div class="card">
    <form>
      <div class="card-header">
        <h4 class="card-title">
          Report an Incident
        </h4>
      </div>
      <div class="card-content">
        <div class="form-group">
          <label>Title</label>
          <input 
                 v-model="complaint.title"
                 class="form-control">
   
        </div>
        <div class="form-group">
          <label>Location</label>
          <input
                 v-model="complaint.location"
                 class="form-control">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" v-model="complaint.description" placeholder="Complaint Description" rows="3"></textarea>    
        </div>
        <!-- <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                   </div>
              </div>
            <div class="form-group">
                  <label class="col-sm-2 control-label">Upload Image</label>
                  <div class="col-sm-10">
                    <input type="file" name="fileToUpload" id="fileToUpload">
                  </div>
                </div> -->
        <!-- <p-checkbox>Subscribe to newsletter</p-checkbox> -->
      </div>
      <div class="card-footer text-right">
        <button type="submit"  class="btn btn-fill btn-info btn-wd" @click="addComplaint()">Report Incident</button>
      </div>
    </form>

  </div>
</template>
<script>
  // import {mapFields} from 'vee-validate'
 import constants from '../../../../services/constants'
  import auth from '../../../../services/auth'
  export default {
    // computed: {
    //   ...mapFields(['email', 'password', 'confirm'])
    // },
    data () {
      return {
        // model: {
        //   email: '',
        //   password: '',
        //   confirmPassword: ''
        // },
        complaint: {
          title: '',
          description: '',
          location: ''
        },
        // modelValidations: {
        //   email: {
        //     required: true,
        //     email: true
        //   },
        //   password: {
        //     required: true,
        //     min: 5
        //   },
        //   confirmPassword: {
        //     required: true,
        //     confirmed: 'password'
        //   }
        // }
      }
    },
    methods: {
      getError (fieldName) {
        return this.errors.first(fieldName)
      },
      validate () {
        this.$validator.validateAll().then(isValid => {
          this.$emit('on-submit', this.registerForm, isValid)
        })
      },
        addComplaint() {
          var complaint = {
          location: this.complaint.location,
          title: this.complaint.title,
          description: this.complaint.description,
          // end_date: dateTimePicker
      }
          axios.post(constants.API_URL+constants.API_VERSION+'/complaints', complaint, auth.getAuthHeader()).then(response => {
            //  this.results = response.data.data
             console.log('Updating user data', response.data)

          })
          .catch(error => {
            console.log(error);
          });
      },
    }
  }
</script>
<style>
</style>
