<template>
  <div class="card">
    <form>
      <div class="card-header">
        <h4 class="card-title">
          Create Payment
        </h4>
      </div>
      <div class="card-content">
        <div class="form-group">
          <label>Amount</label>
          <input type="text"
                 name="dsfadf"
                 class="form-control">
        </div>
      </div>
      <div class="card-footer text-right">
        <button type="submit" @click.prevent="validate" class="btn btn-fill btn-info btn-wd">Register</button>
      </div>
    </form>
  </div>
</template>

<script>
  import {mapFields} from 'vee-validate'

  export default {
    computed: {
    },
    data () {
    },
    methods: {
      makePayment(){
        //   axios.post()
      }
    }
  }
</script>
<style>
</style>
