<template>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
            <button class="btn btn-warning">
              <router-link to="/tables">
                      Back
              </router-link>
          </button>
        <!-- <form method="#" action="#">
          <div class="card-header">
            <h4 class="card-title">
              Stacked Form
            </h4>
          </div>
          <div class="card-content">
            <div class="form-group">
              <label>Email address</label>
              <input type="email" placeholder="Enter email" class="form-control">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <p-checkbox>Subscribe to newsletter</p-checkbox>

            <button type="submit" class="btn btn-fill btn-info">Submit</button>
          </div>
        </form> -->
      </div> <!-- end card -->
    </div> <!--  end col-md-6  -->
    <div class="col-md-6">
      <div class="card">
        <!-- <form class="form-horizontal">
          <div class="card-header">
            <h4 class="card-title">
              Horizontal Form
            </h4>
          </div>
          <div class="card-content">
            <div class="form-group">
              <label class="col-md-3 control-label">Email</label>
              <div class="col-md-9">
                <input type="email" placeholder="Email" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Password</label>
              <div class="col-md-9">
                <input type="password" placeholder="Password" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3"></label>
              <p-checkbox class="col-md-9">Remember me</p-checkbox>
            </div>
          </div>
          <div class="card-footer">
            <div class="form-group">
              <label class="col-md-3"></label>
              <div class="col-md-9">
                <button type="submit" class="btn btn-fill btn-info">
                  Sign in
                </button>
              </div>
            </div>
          </div>
        </form> -->
      </div> <!-- end card -->
    </div> <!--  end col-md-6  -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Create a Notification</h4>
        </div>
        <div class="card-content">
          <form method="get" action="/" class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                  <input type="text" v-model="notifications.title" placeholder="Notification Title" class="form-control">
                </div>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                  <textarea class="form-control" v-model="notifications.desription" placeholder="Notification Description" rows="3"></textarea>
                </div>
              </div>
            </fieldset>

             <div class="col-md-4">
                <h4 class="card-title">Start Date</h4>
                <div class="form-group">
                  <el-date-picker
                    v-model="dateTimePicker"
                    type="datetime"
                    placeholder="Select date and time"
                    :picker-options="pickerOptions1">
                  </el-date-picker>
                </div>
            </div>
             <button type="submit" class="btn btn-fill btn-info" @click="addNotification(notifications)">Submit</button>
          </form>
        </div>
      </div>  <!-- end card -->
    </div> <!-- end col-md-12 -->
  </div>
</template>
<script>
  import {DatePicker, TimePicker, Slider, Tag, Input, Button, Select, Option} from 'element-ui'
  import PProgress from 'src/components/UIComponents/Progress.vue'
  import PSwitch from 'src/components/UIComponents/Switch.vue'
  export default {
    components: {
      [DatePicker.name]: DatePicker,
      [TimePicker.name]: TimePicker,
      [Slider.name]: Slider,
      [Tag.name]: Tag,
      [Input.name]: Input,
      [Button.name]: Button,
      [Option.name]: Option,
      [Select.name]: Select,
      PSwitch,
      PProgress
    },
    data () {
      return {
        radios: {
          radio1: '1',
          radio2: '2',
          radio3: '2'
        },
        notifications: {
          title: '',
          description: ''
        },
        selected: true,
        checkboxes: {
          first: false,
          second: false,
          a: false,
          b: false,
          c: false,
          unchecked: false,
          checked: true,
          disabledUnchecked: false,
          disabledChecked: true
        },
        pickerOptions1: {
          shortcuts: [{
            text: 'Today',
            onClick (picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: 'Yesterday',
            onClick (picker) {
              const date = new Date()
              date.setTime(date.getTime() - 3600 * 1000 * 24)
              picker.$emit('pick', date)
            }
          },
          {
            text: 'A week ago',
            onClick (picker) {
              const date = new Date()
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', date)
            }
          }]
        },
        datePicker: '',
        dateTimePicker: '',
        timePicker: ''
      }
    },
    methods: {
       addNotification() {
          var notifications = {
          title: this.notifications.title,
          description: this.notifications.description,
          end_date: dateTimePicker
      }
          axios.post(constants.API_URL+constants.API_VERSION+'/notifications', notifications, auth.getAuthHeader()).then(response => {
            //  this.results = response.data.data
             console.log('Updating user data', response.data)

          })
          .catch(error => {
            console.log(error);
          });
      },
    }
  }
</script>
<style>
</style>
