<template>
  <div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Notifications</h4>
          <button class="btn btn-warning">
              <router-link to="/notifications">
                      Add A Notification
              </router-link>
          </button>
        <!-- <p class="category">Here is a subtitle for this table</p> -->
      </div>
      <div class="card-content row">
        <div class="col-sm-12">
          <el-table class="table table-no-bordered table-hover"
                    :data="results">
            <el-table-column type="index">
            </el-table-column>
            <el-table-column prop="title"
                             label="Notification">
            </el-table-column>
            <el-table-column prop="description"
                             label="Description">
            </el-table-column>
            <!-- <el-table-column prop="email"
                             label="Email">
            </el-table-column> -->
            <el-table-column
              label="Actions">
              <template scope="props">
                <!-- <a class="btn btn-simple btn-info btn-xs btn-icon like" @click="handleLike(props.$index, props.row)"><i class="ti-heart"></i></a> -->
                <a class="btn btn-simple btn-warning btn-xs btn-icon edit" @click="handleEdit(props.$index, props.row)"><i class="ti-pencil-alt"></i></a>
                <a class="btn btn-simple btn-danger btn-xs btn-icon remove"  @click="handleDelete(props.$index, props.row)"><i class="ti-close"></i></a>
                <!-- <button class="btn btn-simple btn-danger btn-xs btn-icon remove"  @click="swal.showSwal('basic')"><i class="ti-close"></i></button> -->
              </template>
            </el-table-column>
          </el-table>
        </div>
        <div class="col-sm-12">
          <!-- <h2>My deepest, darkest question: {{existentialQuestion}}</h2>
          <input v-model="existentialQuestion"/> -->
          <!-- <table>
            <tbody>
              <tr v-for="result in results">
                  <td><input v-model="result.first_name"></td>
                  <td><input v-model="result.last_name"></td>
                  <td><input v-model="result.email"></td>
                  <td><button @click="handleEdit(result.id, result)" class="btn btn-primary">Update</button></td>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue'
  import {Table, TableColumn} from 'element-ui'
  // import swal from 'sweetalert2'
  import swal from 'sweetalert2/dist/sweetalert2.all.min.js'
  import PSwitch from 'src/components/UIComponents/Switch.vue'

  import constants from '../../../../services/constants' 
  import auth from '../../../../services/auth' 

  Vue.use(Table)
  Vue.use(TableColumn)
  
  export default{
    components: {
      PSwitch
    },
    data () {
      return {
        results: [this.getNotifications()],
        // existentialQuestion: 'Am I truly an alligator?'
      }
    },
    methods: {
      handleLike (index, row) {
        alert(`Your clicked on Like button`)
      },
      // handleEdit (index, row) {
      //   alert(`Your want to edit ${row.first_name}`)
      // },
      handleEdit (id, data) {
        // alert(`Your want to edit ${row.first_name}`)
        this.updateNotification(id, data)
        this.getNotifications()
      },
      handleDelete (index, row) {
        // alert(`Your want to delete ${row.first_name}`)
        this.showSwal('warning-message-and-cancel')
        // console.log('is delete',isDelete)
        this.deleteNotification(row)
        this.getNotifications()
      },
      getSummaries (param) {
        const { columns } = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = 'Total'
          } else if (index < columns.length - 1) {
            sums[index] = ''
          } else {
            let sum = 0
            this.productsTable.forEach((obj) => {
              sum += obj.quantity * obj.price
            })
            sums[index] = `€ ${sum}`
          }
        })
        return sums
      },
      getNotifications() {
           axios.get(constants.API_URL+constants.API_VERSION+'/notifications', auth.getAuthHeader()).then(response => {
             this.results = response.data
             console.log('results data', this.results)

          })
          .catch(error => {
            console.log(error);
          });
      // return customers
      },
      deleteUser(row) { 
           axios.delete(constants.API_URL+constants.API_VERSION+'/notifications/'+ row.id, auth.getAuthHeader()).then(response => {
            //  this.results = response.data.data
             console.log('delete data', response.data)

          })
          .catch(error => {
            console.log(error);
          });
      // return customers
      },
      updateUser(id, info) {
          axios.patch(constants.API_URL+constants.API_VERSION+'/customers/'+ id, info, auth.getAuthHeader()).then(response => {
            //  this.results = response.data.data
             console.log('Updating user data', response.data)

          })
          .catch(error => {
            console.log(error);
          });
      },
      showSwal (type) {
        if (type === 'basic') {
          swal({
            title: `Here's a message!`,
            buttonsStyling: false,
            confirmButtonClass: 'btn btn-success btn-fill'
          })
        }
        else if (type === 'input-field') {
            swal({
              title: 'Add Notification',
              html: '<div class="form-group">' +
              '<input id="input-field" type="text" placeholder="Notification Title" class="form-control" />' +
              '</div>'+
              '<div class="form-group">' +
              '<textarea id="notification-description" class="form-control" placeholder="Notification Description" rows="3"></textarea>' +
              '</div>',
              // '<div>'+
              // '<el-date-picker v-model="dateTimePicker" type="datetime" placeholder="Select date and time" :picker-options="pickerOptions1"> </el-date-picker>'+
              // '</div>',
              showCancelButton: true,
              confirmButtonClass: 'btn btn-success btn-fill',
              cancelButtonClass: 'btn btn-danger btn-fill',
              buttonsStyling: false
            }).then(function (result) {
              swal({
                type: 'success',
                html: 'You entered',
                confirmButtonClass: 'btn btn-success btn-fill',
                buttonsStyling: false

              })
            }).catch(swal.noop)
          }
          else if (type === 'warning-message-and-cancel') {
          swal({
            title: 'Are you sure?',
            text: 'You will not be able to recover this notification!',
            type: 'warning',
            // showCancelButton: true,
            showCloseButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, keep it',
            confirmButtonClass: 'btn btn-success btn-fill',
            cancelButtonClass: 'btn btn-danger btn-fill',
            buttonsStyling: false
          }).then(function () {
            // var deleted = 1;
            // console.log('value is', value.id)
            // this.deleteUser(value)
            swal({
              title: 'Deleted!',
              text: 'You removed the notification.',
              type: 'success',
              confirmButtonClass: 'btn btn-success btn-fill',
              buttonsStyling: false
            })
          }, function (dismiss) {
            // dismiss can be 'overlay', 'cancel', 'close', 'esc', 'timer'
            // if (dismiss === 'cancel') {
            //   swal({
            //     title: 'Cancelled',
            //     text: 'Your notification is safe :)',
            //     type: 'error',
            //     confirmButtonClass: 'btn btn-info btn-fill',
            //     buttonsStyling: false
            //   })
            // }
            // return deleted
          })
        }
        else if (type === 'input-field') {
          swal({
            title: 'Input something',
            html: '<div class="form-group">' +
            '<input id="input-field" type="text" class="form-control" />' +
            '</div>',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success btn-fill',
            cancelButtonClass: 'btn btn-danger btn-fill',
            buttonsStyling: false
          }).then(function (result) {
            swal({
              type: 'success',
              html: 'You entered',
              confirmButtonClass: 'btn btn-success btn-fill',
              buttonsStyling: false

            })
          }).catch(swal.noop)
        }
      },
    }
  }
</script>
<style lang="scss">
  .el-table .cell {
      word-break: keep-all;
  }
  // body.swal2-shown { 
  //   // overlay: none;
  //   overflow-x: none !important; 
  //   overflow-y: none !important; 
  // }
</style>
