<template>
  <div class="row">
    <div class="col-md-12">
      <h4 class="title">Payments</h4>
      <!-- <p class="category">
        We combine <a href="http://element.eleme.io/#/en-US/component/quickstart" target="_blank">Element-UI</a>
        table functionalities together with a custom pagination component
        which should provide a very good starting point to integrate tables in your application.
        Check out more functionalities at <a href="http://element.eleme.io/#/en-US/component/table" target="_blank">Element-UI table documentation</a>.
       </p> -->
    </div>
    <div class="col-md-12 card">
      <div class="card-header">
        <!-- <div class="category">Add Payment</div> -->
         <!-- <button class="btn btn-warning">
              <router-link to="/create-payment">
                      Add New Payment
              </router-link>
        </button> -->
      </div>
      <div class="card-content row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <div class="pull-right">
            <label>
              <!-- <input type="search" class="form-control input-sm" placeholder="Search records" v-model="searchQuery" aria-controls="datatables"> -->
            </label>
          </div>
        </div>
        <div class="col-sm-12">
            <table>
            <tbody>
              <div v-for="result in results">
                <b>{{result.users[0].first_name +' ' + result.users[0].last_name + '  | ' }}
                {{result.address + '  | '}}{{result.value.value}} </b>
                <tr v-for="balance in result.payable_balances">
                <td>Interest:   ${{balance.interest}}</td>&nbsp;&nbsp;&nbsp;
                <td>Total Paid:  ${{balance.total_paid}}</td>&nbsp;&nbsp;&nbsp;
                <td>Due Date:  {{balance.end_date}}</td>
                <td><button style="margin: 10px 0px 10px 4px;" @click="handlePay(balance.id)" class="btn btn-primary">Pay</button></td>
                    <!-- <li v-for="payment in balance.payments">
                      Amount:   ${{payment.amount}}
                    </li> -->
                </tr>
                <hr>
                </div>
                  <!-- <td><input>{{result}}</td> -->
                  <!-- <td v-for="balance in result.payable_balances">{{balance.interest}}<input></td>           -->
                  <!-- <td><button @click="handleEdit(result.id, result)" class="btn btn-primary">Update</button></td> -->
              <!-- </tr> -->
            </tbody>
          </table>
        </div>
        <div class="col-sm-6 pagination-info">
          <p class="category">Showing from 1 to 20 of 50 entries</p>
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue'
  // import swal from 'sweetalert2'
  import {Table, TableColumn, Select, Option} from 'element-ui'
  import PPagination from 'src/components/UIComponents/Pagination.vue'
  import swal from 'sweetalert2/dist/sweetalert2.all.min.js'  
  import constants from '../../../../services/constants' 
  import auth from '../../../../services/auth' 

  Vue.use(Table)
  Vue.use(TableColumn)
  Vue.use(Select)
  Vue.use(Option)
  export default{
    components: {
      PPagination
    },
    computed: {
      pagedData () {
        return this.results.slice(this.from, this.to)
      },
      /***
       * Searches through table data and returns a paginated array.
       * Note that this should not be used for table with a lot of data as it might be slow!
       * Do the search and the pagination on the server and display the data retrieved from server instead.
       * @returns {computed.pagedData}
       */
 
    },
    data () {
      return {

        results: [this.getProperties()],
        // tableData: users
      }
    },
    methods: {
      handleLike (index, row) {
        alert(`Your want to like ${row.first_name}`)
      },
      handlePay (index) {
        // alert(`Your want to edit ${index}`)
        this.showSwal(index)
      },
      handleDelete (index, row) {
        let indexToDelete = this.tableData.findIndex((tableRow) => tableRow.id === row.id)
        if (indexToDelete >= 0) {
          this.tableData.splice(indexToDelete, 1)
          alert(`Your want to delete ${row.first_name}`)
          this.deleteCustomer(index, row)
          this.getProperties()
        }
      },
      getProperties() {
        axios.get(constants.API_URL+constants.API_VERSION+'/properties', auth.getAuthHeader()).then(response => {
          this.results = response.data
             console.log('results data', this.results)
        })
        .catch(error => {
          console.log(error);
        });
      },
     deleteCustomer(index, row) {
           axios.delete(constants.API_URL+constants.API_VERSION+'/customers/'+ row.id, auth.getAuthHeader()).then(response => {
            //  this.results = response.data.data
             console.log('delete data', response.data)

          })
          .catch(error => {
            console.log(error);
          });
      // return customers
      },
      makePay(amount,id) {
           axios.post(constants.API_URL+constants.API_VERSION+'/balances/'+ id + '/payments',{amount:amount}, auth.getAuthHeader()).then(response => {
            //  this.results = response.data.data
             console.log('delete data', response.data)

          })
          .catch(error => {
            console.log(error);
          });
      // return customers
      },
       showSwal (id,title) {
         if(title==undefined)title='Enter Amount to Pay';
          swal({
            title: title,
            html: '<div class="form-group">' +
            '<input id="input-field1" type="text" class="form-control" />' +
            '</div>',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success btn-fill',
            cancelButtonClass: 'btn btn-danger btn-fill',
            buttonsStyling: false
          }).then(result=> {

            var amount = document.getElementById('input-field1').value;
           swal({
            title: 'You successfully Paid',
            showCancelButton: false,
            confirmButtonClass: 'btn btn-success btn-fill',
            cancelButtonClass: 'btn btn-danger btn-fill',
            buttonsStyling: false
          })
          this.makePay(amount,id);
          })
        }
      },
}
</script>
<style>
</style>
