<template>
   <div class="container">
    <div class="col-md-6">
        <h3>Payment History:</h3>
        <ul>
            <li>$3500</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Amount Due:</h3>
        <ul>
            <li>$5000</li>
        </ul>
    </div>
    </div>
</template>

<script>
export default {
    methods: {
    getUserPaymentHistory(){
        axios.get(constants.API_URL+constants.API_VERSION+'/properties', auth.getAuthHeader()).then(response => {
          this.results = response.data
              console.log('results data', this.results)
            })
            .catch(error => {
            console.log(error);
            })
        },
    }
}
</script>
