<template>
  <div class="row">
    <div class="col-md-12">
      <h4 class="title" style="margin-left:10px;">Properties</h4>
      <!-- <p class="category">
        We combine <a href="http://element.eleme.io/#/en-US/component/quickstart" target="_blank">Element-UI</a>
        table functionalities together with a custom pagination component
        which should provide a very good starting point to integrate tables in your application.
        Check out more functionalities at <a href="http://element.eleme.io/#/en-US/component/table" target="_blank">Element-UI table documentation</a>.
       </p> -->
    </div>
    <div class="col-md-12 card">
      <div class="card-header">
        <div class="category"><router-link to="/addProperty"><button>Add New Property</button></router-link></div>
      </div>
      <div class="card-content row">
        <div class="col-sm-6">
          <el-select
            class="select-default"
            v-model="pagination.perPage"
            placeholder="Per page">
            <el-option
              class="select-default"
              v-for="item in pagination.perPageOptions"
              :key="item"
              :label="item"
              :value="item">
            </el-option>
          </el-select>
        </div>
        <div class="col-sm-6">
          <div class="pull-right">
            <label>
              <input type="search" class="form-control input-sm" placeholder="Search records" v-model="searchQuery" aria-controls="datatables">
            </label>
          </div>
        </div>
        <div class="col-sm-12">
          <el-table class="table table-striped table-no-bordered table-hover"
                    :data="queriedData"
                    border
                    :default-sort="{prop: 'date', order: 'descending'}"
                    style="width: 100%">
        <el-table-column type="expand">
                    <template slot-scope="props">
                      <ul v-for="result in results">
                        <li v-for="balance in result.payable_balances">Amount: ${{balance.payable_balance}}, Interest: ${{balance.interest}}->for the period of: {{balance.start_date}} to {{balance.end_date}}</li>
                      </ul>
                    </template>
        </el-table-column>
            <el-table-column  v-for="column in tableColumns"
                             :min-width="column.minWidth"
                             :prop="column.prop"
                             :label="column.label"
                             sortable >
            </el-table-column>
           
            <el-table-column
              :min-width="120"
              fixed="right"
              label="Actions">
              <template scope="props">
                 <!-- <button class="btn btn-warning">
                    <router-link to="/editprop">
                            Back
                    </router-link>
                </button> -->
                <!-- <a class="btn btn-simple btn-xs btn-info btn-icon like" @click="handleLike(props.$index, props.row)"><i class="ti-heart"></i></a> -->
                <a class="btn btn-simple btn-xs btn-warning btn-icon edit"><i class="ti-pencil-alt"></i></a>
                <!-- <a class="btn btn-simple btn-xs btn-warning btn-icon edit"><router-link :to="editprop"></router-link><i class="ti-pencil-alt"></i></a> -->
                <a class="btn btn-simple btn-xs btn-danger btn-icon remove"  @click="handleDelete(props.$index, props.row)"><i class="ti-close"></i></a>
                <button class="btn btn-simple btn-xs btn-danger btn-icon remove"  @click="initMap(props.row.latitude, props.row.longitude)"><i class="ti-map-alt"></i></button>
              </template>
             <div id="map" class="map"></div>
            </el-table-column>
          </el-table>
        </div>
        <div class="col-sm-6 pagination-info">
          <p class="category">Showing {{from + 1}} to {{to}} of {{total}} entries</p>
        </div>
        <div class="col-sm-6">
          <p-pagination class="pull-right"
                        v-model="pagination.currentPage"
                        :per-page="pagination.perPage"
                        :total="pagination.total">
          </p-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import maps from '../Pages/Sample.vue'
  // import swal from 'sweetalert2'
  import VueRouter from 'vue-router'
  import {Table, TableColumn, Select, Option} from 'element-ui'
  import PPagination from 'src/components/UIComponents/Pagination.vue'

  import users from './users'
  import constants from '../../../../services/constants' 
  import auth from '../../../../services/auth' 
  import {API_KEY} from '../Maps/API_KEY.js'
  import GoogleMapsLoader from 'google-maps'
  GoogleMapsLoader.KEY = API_KEY

  Vue.use(Table)
  Vue.use(TableColumn)
  Vue.use(Select)
  Vue.use(Option)
  export default{
    components: {
      PPagination
    },
    computed: {
      pagedData () {
        return this.results.slice(this.from, this.to)
      },
      /***
       * Searches through table data and returns a paginated array.
       * Note that this should not be used for table with a lot of data as it might be slow!
       * Do the search and the pagination on the server and display the data retrieved from server instead.
       * @returns {computed.pagedData}
       */
      queriedData () {
        if (!this.searchQuery) {
          this.pagination.total = this.results.length
          return this.pagedData
        }
        let result = this.results
          .filter((row) => {
            let isIncluded = false
            for (let key of this.propsToSearch) {
              let rowValue = row[key].toString()
              if (rowValue.includes && rowValue.includes(this.searchQuery)) {
                isIncluded = true
              }
            }
            return isIncluded
          })
        this.pagination.total = result.length
        return result.slice(this.from, this.to)
      },
      to () {
        let highBound = this.from + this.pagination.perPage
        if (this.total < highBound) {
          highBound = this.total
        }
        return highBound
      },
      from () {
        return this.pagination.perPage * (this.pagination.currentPage - 1)
      },
      total () {
        this.pagination.total = this.results.length
        return this.results.length
      }
    },
    data () {
      return {
        pagination: {
          perPage: 10,
          currentPage: 1,
          perPageOptions: [5, 10, 25, 50],
          total: 0
        },
        searchQuery: '',
        propsToSearch: ['address', 'latitude', 'longitude'],
        tableColumns: [
          {
            prop: 'id',
            label: '',
            minWidth: 30
          },
          {
            prop: 'address',
            label: 'Address',
            minWidth: 160
          },
          {
            prop: 'description',
            label: 'Description',
            minWidth: 170
          },
         {
            prop: 'latitude',
            label: 'Latitude',
            minWidth: 80
          },
          {
            prop: 'longitude',
            label: 'Longitude',
            minWidth: 80
          },
          {
            prop: 'width',
            label: 'Width',
            minWidth: 80
          },
          {
            prop: 'tax_exempt',
            label: 'Tax Exempt',
            minWidth: 80
          }
        ],
        results: [this.getProperties()],
        tableData: users
      }
    },
    methods: {
      handleLike (index, row) {
        alert(`Your want to like ${row.first_name}`)
      },
      handleEdit (index, row) {
        console.log('you want to edit', row.id)
        // alert(`Your want to edit ${row.id}`)
        // this.editProperties(index, row)
        this.$router.push('editprop')
      //  this.$router.push({name: 'UpdateProp', params: { property_id: row.id }})
      },
      handleDelete (index, row) {
        let indexToDelete = this.tableData.findIndex((tableRow) => tableRow.id === row.id)
        if (indexToDelete >= 0) {
          this.tableData.splice(indexToDelete, 1)
          alert(`Your want to delete ${row.first_name}`)
          this.deleteCustomer(index, row)
          this.getProperties()
        }
      },
      getCustomers() {
        axios.get(constants.API_URL+constants.API_VERSION+'/my-properties', auth.getAuthHeader()).then(response => {
          this.results = response.data
              console.log('results data', this.results)
        })
        .catch(error => {
          console.log(error);
        })
      },
     deleteCustomer(index, row) {
           axios.delete(constants.API_URL+constants.API_VERSION+'/properties/'+ row.id, auth.getAuthHeader()).then(response => {
            //  this.results = response.data.data
             console.log('delete data', response.data)

          })
          .catch(error => {
            console.log(error);
          });
      // return customers
      },
      getProperties() {
        console.log("something");
        axios.get(constants.API_URL+constants.API_VERSION+'/my-properties', auth.getAuthHeader()).then(response => {
          this.results = response.data
          console.log
        })
      },
       initMap(lat, long) {
         console.log(long);
        window.open("https://www.google.com/maps/search/?api=1&query="+lat+","+long);
      },
    }
  }
</script>
<style>
</style>
