<template>
  <div :class="{'nav-open': $sidebar.showSidebar}">
     <nav class="navbar navbar-default" v-if="user.authenticated && user.isStaff">
       <!-- <img src="src/assets/img/logo.png">Community.GY/> -->
       <!-- <div>Community.GY</div> -->
       <div class="row">
       <div class="col-md-4">
        <img width="50%" height="50%"src="./assets/img/logo.png">
        </div>
    <div class="col-md-8">
      <div class="container">
        <ul class="nav navbar-nav" v-if="user.authenticated" >
            <button class="btn btn-warning" v-if="user.authenticated">
              <router-link to="/paginated">
                      Properties
              </router-link>
            </button>
            <button class="btn btn-warning" v-if="user.authenticated">
              <router-link to="/payments">
                      Payments
              </router-link>
            </button>
             <!-- <button class="btn btn-warning" v-if="user.authenticated">
              <router-link to="/wizard">
                      Wizard
              </router-link>
            </button> -->
              <button class="btn btn-warning" v-if="user.authenticated">
              <router-link to="/tables">
                      Notifications
              </router-link>
            </button>
            <button class="btn btn-warning" v-if="user.authenticated">
              <router-link to="/incident">
                      Complaints
              </router-link>
            </button>
            <button class="btn btn-warning" v-if="user.authenticated">
              <router-link to="/reports">
                      Reports
              </router-link>
            </button>
            <button class="btn btn-warning" v-if="user.authenticated">
              <router-link to="/applications">
                      Applications
              </router-link>
            </button>
            <button class="btn btn-warning" v-if="!user.authenticated">
              <router-link to="/register">
                      Register
              </router-link>
            </button>
            <button class="btn btn-warning" v-if="user.authenticated" @click="logout()">Logout</button>
          <!-- <li><a v-link="login" v-if="!user.authenticated">Login</a></li> -->
          <!-- <li><a v-link="register" v-if="!user.authenticated">Register</a></li> -->
          <!-- <li><a v-link="secretquote" v-if="user.authenticated">Secret Quote</a></li> -->
          <!-- <li><a v-link="login" v-if="user.authenticated" @click="logout()">Logout</a></li> -->
        </ul>
      </div>   
    </div> 
    </div>
    </nav>
     <nav class="navbar navbar-default" v-if="user.authenticated && !user.isStaff">
       <div class="row">
       <div class="col-md-4">
        <img width="50%" height="50%"src="./assets/img/logo.png">
        </div>
    <div class="col-md-8">
      <div class="container">
        <ul class="nav navbar-nav" v-if="user.authenticated" >
            <button class="btn btn-warning" v-if="user.authenticated">
              <router-link to="/my-properties">
                      Properties
              </router-link>
            </button>
            <button class="btn btn-warning" v-if="user.authenticated">
              <router-link to="/my-payments">
                      Payments
              </router-link>
            </button>
             <!-- <button class="btn btn-warning" v-if="user.authenticated">
              <router-link to="/wizard">
                      Wizard
              </router-link>
            </button> -->
              <button class="btn btn-warning" v-if="user.authenticated">
              <router-link to="/userNotifications">
                      Notifications
              </router-link>
            </button>
             <button class="btn btn-warning" v-if="user.authenticated">
              <router-link to="/discounts">
                      Discounts
              </router-link>
            </button>
             <button class="btn btn-warning" v-if="user.authenticated">
              <router-link to="/incident">
                      Complaints
              </router-link>
            </button>
            <button class="btn btn-warning" v-if="user.authenticated">
              <router-link to="/reports">
                      Reports
              </router-link>
            </button>
            <button class="btn btn-warning" v-if="!user.authenticated">
              <router-link to="/register">
                      Register
              </router-link>
            </button>
            <button class="btn btn-warning" v-if="user.authenticated" @click="logout()">Logout</button>
          <!-- <li><a v-link="login" v-if="!user.authenticated">Login</a></li> -->
          <!-- <li><a v-link="register" v-if="!user.authenticated">Register</a></li> -->
          <!-- <li><a v-link="secretquote" v-if="user.authenticated">Secret Quote</a></li> -->
          <!-- <li><a v-link="login" v-if="user.authenticated" @click="logout()">Logout</a></li> -->
        </ul>
      </div>  
      </div>  
      </div>
    </nav>
    <notifications transition-name="notification-list" transition-mode="out-in">

    </notifications>
    <transition name="fade"
                mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
  // Loading some plugin css asynchronously
  import('sweetalert2/dist/sweetalert2.css')
  import('vue-notifyjs/themes/default.css')
  export default {
    toggleNavbar () {
        document.body.classList.toggle('nav-open')
      },
      closeMenu () {
        document.body.classList.remove('nav-open')
        document.body.classList.remove('off-canvas-sidebar')
      },
  }
</script>
<style lang="scss">
  .notifications {
    .notification-list-move {
      transition: transform 0.3s, opacity 0.4s;
    }
    .notification-list-item {
      display: inline-block;
      margin-right: 10px;

    }
    .notification-list-enter-active, .notification-list-leave-active {
      transition: opacity 0.4s;
    }
    .notification-list-enter, .notification-list-leave-to /* .list-leave-active for <2.1.8 */
    {
      opacity: 0;
    }
  }

</style>

<script>
  import auth from 'services/auth'
  // import routes from 'routes/routes'
  export default {
    data() {
      return {
        user: auth.user
      }
    },
    methods: {
      logout() {
        auth.logout('login')
      }
    }
  }
  </script>