<template>
  <div>
    <nav class="navbar navbar-transparent navbar-absolute">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle navbar-toggle-black" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar "></span>
            <span class="icon-bar "></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li>
              <router-link to="/login" class="btn">Looking to login? </router-link>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="wrapper wrapper-full-page">
      <div class="register-page">
        <!-- you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="header-text">
                  <h2>Apply for Discount</h2>
                  <!-- <h4>Register for free and experience the dashboard today.</h4> -->
                  <hr>
                </div>
              </div>
              <!-- <div class="col-md-4 col-md-offset-2"><div class="media"><div class="media-left"><div class="icon icon-danger"><i class="ti ti-user"></i></div></div><div class="media-body"><h5>Free Account</h5>Here you can write a feature description for your dashboard,
let the users know what is the value that you give them. </div></div><div class="media"><div class="media-left"><div class="icon icon-warning"><i class="ti-bar-chart-alt"></i></div></div><div class="media-body"><h5>Awesome Performances</h5>Here you can write a feature description for your dashboard,
let the users know what is the value that you give them. </div></div></div>-->
         
              <div class="col-md-4 col-md-offset-1">
                <!-- <div class="media">
                  <div class="media-left">
                    <div class="icon icon-danger">
                      <i class="ti ti-user"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h5>Free Account</h5>Here you can write a feature description for your dashboard, let the users know what
                    is the value that you give them. </div>
                </div> -->
                <!-- <div class="media">
                  <div class="media-left">
                    <div class="icon icon-warning">
                      <i class="ti-bar-chart-alt"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h5>Awesome Performances</h5>Here you can write a feature description for your dashboard, let the users know
                    what is the value that you give them. </div>
                </div> -->
              </div>
              <div class="col-md-11 col-md-offset-1">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Properties with Outstanding Balances</label>
                  <select v-model="discountform.payable_balance_id">
                    <option v-for="outstandingProp in outstandingProps" v-bind:value="outstandingProp.id"> {{ outstandingProp.address }}

                    </option>
                  </select>
                </div>
                 <div class="form-group">
                  <label class="col-sm-2 control-label">Request Type</label>
                  <select v-model="request_type">
                    <option value="1" selected>Tax Discount</option>
                    <option value="2">Interest Discount</option>
                    <option value="3">Tax Exemption</option>
                  </select>
                </div>
                <br><br>
                <div class="form-group">
                  <label class="col-sm-12 control-label">Requested Discount</label>
                  <input type="number" v-model="discountform.discount" placeholder="Percentage of Discount" class="form-control">
                </div>
                <!-- <div class="form-group">
                  <label class="col-sm-12 control-label">Reason for Tax Exemption</label>
                  <input type="number" v-model="discountform.discount" placeholder="Reason for Tax Exemption" class="form-control">
                </div> -->
                <button type="submit" class="btn btn-fill btn-info" @click="submitDiscount()">Submit</button>
              </div><br><br>
              <div class="col-md-11 col-md-offset-1">
                <div class="col-sm-12">
                    <el-table class="table table-no-bordered table-hover"
                                :data="overdue">
                        <el-table-column type="index">
                        </el-table-column>
                        <el-table-column prop="address"
                                        label="Property">
                        </el-table-column>
                        <el-table-column prop="discount_requested"
                                        label="Discount Requested">
                        </el-table-column>
                        <el-table-column prop="discount_status"
                                        label="Discount Status">
                        </el-table-column>
                        <!-- <el-table-column prop="email"
                                        label="Email">
                        </el-table-column> -->
                        <!-- <el-table-column
                        label="Actions">
                        <template scope="props">
                            <!-- <a class="btn btn-simple btn-info btn-xs btn-icon like" @click="handleLike(props.$index, props.row)"><i class="ti-heart"></i></a> -->
                            <!-- <a class="btn btn-simple btn-warning btn-xs btn-icon edit" @click="handleEdit(props.$index, props.row)"><i class="ti-pencil-alt"></i></a> -->
                            <!-- <a v-if="props.row.status" class="btn btn-simple btn-danger btn-xs btn-icon remove"  @click="handleDelete(props.$index, props.row)"><i class="ti-close"></i></a>
                            <!-- <button class="btn btn-simple btn-danger btn-xs btn-icon remove"  @click="swal.showSwal('basic')"><i class="ti-close"></i></button> -->
                        <!-- </template> -->
                         <!-- </el-table-column> --> -->
                    </el-table>
                    </div>
              </div>
             
            </div>
<!-- 
              <div class="col-md-11 col-md-offset-1">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Properties</label>
                  <select v-model="taxform.payable_balance_id">
                    <option v-for="outstandingProp in outstandingProps" v-bind:value="outstandingProp.id"> {{ outstandingProp.address }}

                    </option>
                  </select>
                </div>
                <br><br>
                <div class="form-group">
                  <label class="col-sm-12 control-label">Requested Discount</label>
                  <input type="number" v-model="discountform.discount" placeholder="Percentage of Discount" class="form-control">
                </div>
                <button type="submit" class="btn btn-fill btn-info" @click="submitDiscount()">Submit</button>
              </div><br><br> -->

          </div>  
          
        </div>
      </div>
   <footer class="footer footer-transparent">
        <div class="container">
          <div class="copyright text-center">&copy; Community.GY
            <i class="fa fa-heart heart"></i> Designed and Developed by
            <a href="https://intellectstorm.com" target="_blank">IntellectStorm</a>. </div>
        </div>
      </footer>
    </div>
  </div>
  </div>
</template>
<script>
  import {
    DatePicker,
    TimePicker,
    Slider,
    Tag,
    Input,
    Button,
    Select,
    Option
  } from 'element-ui'
  import PProgress from 'src/components/UIComponents/Progress.vue'
  import PSwitch from 'src/components/UIComponents/Switch.vue' // import users from './users'
  // import {DatePicker, TimePicker, Slider, Tag, Input, Button, Select, Option} from 'element-ui'
  // import PProgress from 'src/components/UIComponents/Progress.vue'
  // import PSwitch from 'src/components/UIComponents/Switch.vue'
  import constants from '../../../../services/constants'
  import auth from '../../../../services/auth'
  import {API_KEY} from '../Maps/API_KEY'
  import GoogleMapsLoader from 'google-maps'
  GoogleMapsLoader.KEY = API_KEY

  export default {
     components: {
      [DatePicker.name]: DatePicker,
     },
    data() {
      return {

        discountform: {
          payable_balance_id: '',
          discount: '',
          // password: '',
          // first_name: '',
          // last_name: '',
          // dob: '',
          // wants_mail: '',
        },
        results: [this.getVillages()],
        classifications: [this.getClassifications()],
        institutions: [this.getInstitutions()],
        regions: [this.getRegions()],
        overdue: [this.getProperties()],
        outstandingProps: [this.getOutstandingProperties()],
      }
    },
    methods: {
      getVillages() {
        axios.get(constants.API_URL + constants.API_VERSION + '/villages', auth.getAuthHeader()).then(response => {
          this.results = response.data
          console.log('villages data', this.results)
          console.log('user is staff:', auth.user.isStaff)
        }).catch(error => {
          console.log(error);
        })
      },
      getClassifications() {
        axios.get(constants.API_URL + constants.API_VERSION + '/classifications', auth.getAuthHeader()).then(response => {
          this.classifications = response.data 
          console.log('villages data', this.results)
        }).catch(error => {
          console.log(error);
        })
      },
       getInstitutions() {
        axios.get(constants.API_URL + constants.API_VERSION + '/institutions', auth.getAuthHeader()).then(response => {
          this.institutions = response.data 
          console.log('villages data', this.institutions)
        }).catch(error => {
          console.log(error);
        })
      },
      getRegions() {
        axios.get(constants.API_URL + constants.API_VERSION + '/regions', auth.getAuthHeader()).then(response => {
          this.regions = response.data 
          console.log('regions data', this.regions)
        }).catch(error => {
          console.log(error);
        })
      },
      getProperties() {
        axios.get(constants.API_URL + constants.API_VERSION + '/property/overdue', auth.getAuthHeader()).then(response => {
          this.overdue = response.data 
          console.log('overdue data', this.overdue)
        }).catch(error => {
          console.log(error);
        })
      },
      getOutstandingProperties() {
        axios.get(constants.API_URL + constants.API_VERSION + '/properties', auth.getAuthHeader()).then(response => {
          this.outstandingProps = response.data 
          console.log('overdue data', this.outstandingProps)
        }).catch(error => {
          console.log(error);
        })
      },
     initRegularMap (google) {
        // Regular Map
        const myLatlng = new window.google.maps.LatLng(40.748817, -73.985428)
        const mapOptions = {
          zoom: 8,
          center: myLatlng,
          scrollwheel: false // we disable de scroll over the map, it is a really annoing when you scroll through page
        }

        const map = new window.google.maps.Map(document.getElementById('regularMap'), mapOptions)

        const marker = new window.google.maps.Marker({
          position: myLatlng,
          title: 'Regular Map!'
        })

        marker.setMap(map)
      },

        submitDiscount(){

        var discountform = {
          payable_balance_id: this.discountform.payable_balance_id,
          discount: this.discountform.discount,
          
      }

          axios.post(constants.API_URL + constants.API_VERSION + '/discount-requests', discountform, auth.getAuthHeader()).then(response => {
          this.discount = response.data 
          console.log('register data', this.discount)
          router.push('payments')
        }).catch(error => {
          console.log(error);
        })
      },
    },
     mounted () {
      GoogleMapsLoader.load((google) => {
        // this.initSattelliteMap(google)
        this.initRegularMap(google)
        // this.initCustomSkinMap(google)
      })
    }
  }
</script>
<style></style>
