<template>
  <div>
    <nav class="navbar navbar-transparent navbar-absolute">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle navbar-toggle-black" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar "></span>
            <span class="icon-bar "></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li>
              <router-link to="/login" class="btn">Looking to login? </router-link>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="wrapper wrapper-full-page">
      <div class="register-page">
        <!-- you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="header-text">
                  <h2>Edit an Existing Property</h2>
                  <!-- <h4>Register for free and experience the dashboard today.</h4> -->
                  <hr>
                </div>
              </div>
              <!-- <div class="col-md-4 col-md-offset-2"><div class="media"><div class="media-left"><div class="icon icon-danger"><i class="ti ti-user"></i></div></div><div class="media-body"><h5>Free Account</h5>Here you can write a feature description for your dashboard,
let the users know what is the value that you give them. </div></div><div class="media"><div class="media-left"><div class="icon icon-warning"><i class="ti-bar-chart-alt"></i></div></div><div class="media-body"><h5>Awesome Performances</h5>Here you can write a feature description for your dashboard,
let the users know what is the value that you give them. </div></div></div>-->
         
              <div class="col-md-4 col-md-offset-1">
                <!-- <div class="media">
                  <div class="media-left">
                    <div class="icon icon-danger">
                      <i class="ti ti-user"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h5>Free Account</h5>Here you can write a feature description for your dashboard, let the users know what
                    is the value that you give them. </div>
                </div> -->
                <!-- <div class="media">
                  <div class="media-left">
                    <div class="icon icon-warning">
                      <i class="ti-bar-chart-alt"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h5>Awesome Performances</h5>Here you can write a feature description for your dashboard, let the users know
                    what is the value that you give them. </div>
                </div> -->
              </div>
              <div class="col-md-11 col-md-offset-1">
                 <div class="form-group">
                  <label class="col-sm-2 control-label">Existing User</label>
                  <select  v-model="registration.users.id">
                    <option v-for="user in users" v-bind:value="user.id"> {{ user.first_name +' '+ user.last_name }}

                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Region</label>
                  <select>
                    <option v-for="region in regions" v-bind:value="region.id"> {{ region.name }}

                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Village</label>
                  <select v-model="registration.village_id">
                    <option v-for="result in results" v-bind:value="result.id"> {{ result.name }}

                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Property Type</label>
                  <select v-model="registration.classification_id">
                    <option v-for="classification in classifications" v-bind:value="classification.id"> {{ classification.name }}

                    </option>
                  </select>
                </div>
                  <div class="form-group">
                  <label class="col-sm-2 control-label">Property Valuator</label>
                  <select v-model="registration.user_id">
                    <option v-for="valuator in valuators" v-bind:value="valuator.id"> {{ valuator.first_name + ' ' + valuator.last_name }}

                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" v-model="registration.value" placeholder="Property Value" class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" v-model="registration.address" placeholder="Property Address" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Property Description</label>
                  <div class="col-sm-10">
                    <textarea class="form-control"  v-model="registration.description" placeholder="Property Description" rows="3"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Property Dimensions</label>
                  <div class="col-sm-6">
                    <input type="text"  v-model="registration.length" placeholder="Length" class="form-control">
                    <input type="text"  v-model="registration.width" placeholder="Width" class="form-control">
                  </div>
                </div>
                  <div class="form-group">
                  <label class="col-sm-2 control-label">Property has buildings?</label>
                   <div>
                    <input type="radio" id="contactChoice1"
                    name="contact" value="email" checked>
                    <label for="contactChoice1">Yes</label>

                    <input type="radio" id="contactChoice2"
                    name="contact" value="phone">
                    <label for="contactChoice2">No</label>
                       <div class="form-group">
                  <div class="col-sm-6">
                  <label class="control-label">Building Information</label>
                    <input type="text" v-model="registration.buildings.length" placeholder="Length" class="form-control">
                    <input type="text" v-model="registration.buildings.width" placeholder="Width" class="form-control">
                    <input type="text" v-model="registration.buildings.height" placeholder="Height" class="form-control">
                    <label class="control-label">Building Type</label>
                  <select v-model="registration.buildings.institution_id">
                    <option v-for="institution in institutions" v-bind:value="institution.id"> {{ institution.name }}

                    </option>
                  </select>
                  </div>
                </div>
                  </div>
                 
                </div>
                 <div class="form-group">
                  <label class="col-sm-2 control-label">Land Georeferencing</label>
                  <div class="col-sm-6">
                    <input type="text" v-model="registration.longitude" placeholder="Longitude" class="form-control">
                    <input type="text" v-model="registration.latitude" placeholder="Latitude" class="form-control">
                  </div>
                </div>
                <select >
                    <option > 
                        <h3>Pending</h3>
                    </option>
                    <option > 
                        <h3>Deny</h3>
                    </option>
                  </select>
                   <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Georeference</h4>
                      </div>
                      
                      <maps> </maps>

                    
                <button type="button" class="btn btn-fill btn-danger btn-wd" @click="submitRegister()">Register Property Owner</button>
                
              </div>
                <div class="card-content">
                 <div class="map"></div>
               </div>
            <!-- <div class="form-group">
                  <label class="col-sm-2 control-label">Upload Image</label>
                  <div class="col-sm-10">
                    <input type="file" name="fileToUpload" id="fileToUpload">
                  </div>
                </div> -->            
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-transparent">
        <div class="container">
          <div class="copyright text-center">&copy; Coded with
            <i class="fa fa-heart heart"></i>by
            <a href="https://github.com/cristijora" target="_blank">Cristi Jora</a>. Designed by
            <a href="https://www.creative-tim.com/?ref=pdf-vuejs" target="_blank">Creative Tim</a>. </div>
        </div>
      </footer>
    </div>
  </div>
  
  </div>
  
</template>
<script>
import maps from './Sample.vue'
import sidebar from 'src/components/UIComponents/SidebarPlugin/SideBar.vue'
  import {
    DatePicker,
    TimePicker,
    Slider,
    Tag,
    Input,
    Button,
    Select,
    Option
  } from 'element-ui'
  import PProgress from 'src/components/UIComponents/Progress.vue'
  import PSwitch from 'src/components/UIComponents/Switch.vue' // import users from './users'
  // import {DatePicker, TimePicker, Slider, Tag, Input, Button, Select, Option} from 'element-ui'
  // import PProgress from 'src/components/UIComponents/Progress.vue'
  // import PSwitch from 'src/components/UIComponents/Switch.vue'
  import constants from '../../../../services/constants'
  import auth from '../../../../services/auth'
  import {API_KEY} from '../Maps/API_KEY.js'
  import GoogleMapsLoader from 'google-maps'
  GoogleMapsLoader.KEY = API_KEY
  // import GoogleMapsLoader from 'google-maps'
  // GoogleMapsLoader.KEY = 'AlzaSyBBBj_CkfayvLGUZzaOon57sawN144wKL8'

  export default {
     components: {
      [DatePicker.name]: DatePicker,
      maps, sidebar,
     },
    data() {
      return {
        hasBuildings: false,
        registration: {
            users: [{
                id: '',
            }],
          user_id: '',
          village_id: '',
          value: '',
          classification_id: '',
        //   valuator_id: '',
          address: '',
          description: '',
          length: '',
          width: '',
          longitude: '',
          freehold: true,
          latitude: '',
          buildings: [{
              institution_id: '',
              length: '',
              width: '',
              height: ''
          }]
        },
        results: [this.getVillages()],
        classifications: [this.getClassifications()],
        institutions: [this.getInstitutions()],
        regions: [this.getRegions()],
        users: [this.getUsers()],
        valuators: [this.getValuators()],
      }
    },
    methods: {
      getVillages() {
        console.log('poperty id', property_id)
        axios.get(constants.API_URL + constants.API_VERSION + '/villages', auth.getAuthHeader()).then(response => {
          this.results = response.data
          console.log('villages data', this.results)
        }).catch(error => {
          console.log(error);
        })
      },
      getValuators() {
        axios.get(constants.API_URL + constants.API_VERSION + '/user/valuators', auth.getAuthHeader()).then(response => {
          this.valuators = response.data
        //   console.log('villages data', this.results)
        }).catch(error => {
          console.log(error);
        })
      },
      getUsers() {
        axios.get(constants.API_URL + constants.API_VERSION + '/users', auth.getAuthHeader()).then(response => {
          this.users = response.data
          console.log('villages data', this.users)
        }).catch(error => {
          console.log(error);
        })
      },
      getClassifications() {
        axios.get(constants.API_URL + constants.API_VERSION + '/classifications', auth.getAuthHeader()).then(response => {
          this.classifications = response.data 
          console.log('villages data', this.results)
        }).catch(error => {
          console.log(error);
        })
      },
       getInstitutions() {
        axios.get(constants.API_URL + constants.API_VERSION + '/institutions', auth.getAuthHeader()).then(response => {
          this.institutions = response.data 
          console.log('villages data', this.institutions)
        }).catch(error => {
          console.log(error);
        })
      },
      getRegions() {
        axios.get(constants.API_URL + constants.API_VERSION + '/regions', auth.getAuthHeader()).then(response => {
          this.regions = response.data 
          console.log('regions data', this.regions)
        }).catch(error => {
          console.log(error);
        })
      },
      initRegularMap (google) {
        // Regular Map
        const myLatlng = new window.google.maps.LatLng(40.748817, -73.985428)
        const sample = new window.google.maps.LatLng(40.12345, -73.985428)
        const mapOptions = {
          zoom: 8,
          center: myLatlng,
          scrollwheel: true // we disable de scroll over the map, it is a really annoing when you scroll through page
        }

        const map = new window.google.maps.Map(document.getElementById('regularMap'), mapOptions)

        const marker = new window.google.maps.Marker({
          position: myLatlng,
          title: 'Regular Map!'
        })
        const mark = new window.google.maps.Marker({
          position: sample,
          title: 'Regular Map!'
        })

        marker.setMap(map)
        mark.setMap(map)
      },
      submitRegister(){

        var registration = {
            users: [{
             id: this.registration.user_id,
             }],
        //   email: this.registration.email,
          village_id: this.registration.village_id,
          classification_id: this.registration.classification_id,
          user_id: this.registration.user_id,
          address: this.registration.address,
          value: this.registration.value,
          description: this.registration.description,
          length: this.registration.length,
          width: this.registration.width,
          longitude: this.registration.longitude,
          latitude: this.registration.latitude,
          tax_exempt: false,
          buildings: {
              institution_id: this.registration.institution_id,
              length: this.registration.length,
              width: this.registration.width,
              height: this.registration.height
          }
      }

          axios.post(constants.API_URL + constants.API_VERSION + '/properties', registration, auth.getAuthHeader()).then(response => {
          this.register = response.data 
          console.log('register data', this.register)
          router.push('payments')
        }).catch(error => {
          console.log(error);
        })
      },
    },
     mounted () {
      GoogleMapsLoader.load((google) => {
        this.initRegularMap(google)
      })
    },
  }
</script>
<style>
</style>
