<template>
  <div>
    <nav class="navbar navbar-transparent navbar-absolute">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle navbar-toggle-black" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar "></span>
            <span class="icon-bar "></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <router-link to="/login" class="btn">Looking to login? </router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="wrapper wrapper-full-page">
      <div class="register-page">
        <!-- you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="header-text">
                  <h2>Register as a Property Owner</h2>
                  <h4>Register for free and experience the dashboard today.</h4>
                  <hr>
                </div>
              </div>
              <!-- <div class="col-md-4 col-md-offset-2"><div class="media"><div class="media-left"><div class="icon icon-danger"><i class="ti ti-user"></i></div></div><div class="media-body"><h5>Free Account</h5>Here you can write a feature description for your dashboard,
let the users know what is the value that you give them. </div></div><div class="media"><div class="media-left"><div class="icon icon-warning"><i class="ti-bar-chart-alt"></i></div></div><div class="media-body"><h5>Awesome Performances</h5>Here you can write a feature description for your dashboard,
let the users know what is the value that you give them. </div></div></div>-->
         
              <div class="col-md-4 col-md-offset-1">
                <div class="media">
                  <div class="media-left">
                    <div class="icon icon-danger">
                      <i class="ti ti-user"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h5>Free Account</h5>Registration for Community.GY is free! Join now... </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <div class="icon icon-warning">
                      <i class="ti-bar-chart-alt"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h5>Indepth Analytics</h5>View your properties and NDC reports on the go.</div>
                </div>
              </div>
                  <div class="col-md-4 col-md-offset-2">
                <form method="#" action="#">
                  <div class="card card-plain">
                    <div class="content">
                      <div class="form-group">
                        <input type="email" placeholder="Your First Name" v-model="registration.first_name" class="form-control">
                      </div>
                      <div class="form-group">
                        <input type="email" placeholder="Your Last Name" v-model="registration.last_name" class="form-control">
                      </div>
                      <div class="form-group">
                        <input type="email" placeholder="Your Username" v-model="registration.username" class="form-control">
                      </div>
                      <div class="form-group">
                            <el-date-picker v-model="registration.dob" type="date" placeholder="Date of Birth">
                            </el-date-picker>
                      </div>
                         <div class="form-group">
                          <label class="col-sm-4 control-label">National Democratic Council / NDC </label>
                          <select v-model="registration.ndc_id">
                            <option v-for="ndc in ndcinfo" v-bind:value="ndc.id"> {{ ndc.name }}</option>
                          </select>
                     </div>
                      <!-- <div class="form-group">
                          <label class="col-sm-4 control-label">NDC</label>
                          <select v-model="registration.ndc_id">
                            <option v-for="ndc in ndcs" v-bind:key="ndc.id"> {{ ndc.name }}</option>
                          </select>
                     </div> -->
                      <div class="form-group">
                        <input type="email" v-model="registration.email" placeholder="Email" class="form-control">
                      </div>
                      <div class="form-group">
                        <input type="text" v-model="registration.address" placeholder="Address" class="form-control">
                      </div>
                      <div>
                      </div>
                      <div class="form-group">
                        <input type="password" v-model="registration.password" placeholder="Password" class="form-control">
                      </div>
                      <div class="form-group">
                        <input type="password" v-model="registration.password" placeholder="Password Confirmation" class="form-control">
                      </div>
                      <div class="col-md-12">
                        <p-checkbox v-model="registration.wants_mail" value="boolean" >Would you like to receive mail?</p-checkbox>
                          <div class="footer text-center">
                <button type="button" class="btn btn-fill btn-danger btn-wd" @click="submitRegister()">Create Free Account</button>
              </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <!-- <div class="col-md-11 col-md-offset-1">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Region</label>
                  <select v-model="selected">
                    <option v-for="result in results" v-bind:value="result.id"> { { result.name } }

                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Village</label>
                  <select v-model="selected">
                    <option v-for="result in results" v-bind:value="result.id"> { { result.name } }

                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Property Type</label>
                  <select v-model="selected">
                    <option v-for="classification in classifications" v-bind:value="classification.id"> {{ classification.name }}

                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Property Address" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Property Description</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" placeholder="Property Description" rows="3"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Property Dimensions</label>
                  <div class="col-sm-6">
                    <input type="text" placeholder="Length" class="form-control">
                    <input type="text" placeholder="Width" class="form-control">
                  </div>
                </div>
                  <div class="form-group">
                  <label class="col-sm-2 control-label">Property has buildings?</label>
                   <div>
                    <input type="radio" id="contactChoice1"
                    name="contact" value="email" checked>
                    <label for="contactChoice1">Yes</label>

                    <input type="radio" id="contactChoice2"
                    name="contact" value="phone">
                    <label for="contactChoice2">No</label>
                       <div class="form-group">
                  <div class="col-sm-6">
                  <label class="control-label">Building Information</label>
                    <input type="text" placeholder="Length" class="form-control">
                    <input type="text" placeholder="Width" class="form-control">
                    <input type="text" placeholder="Height" class="form-control">
                    <label class="control-label">Building Type</label>
                  <select v-model="selected">
                    <option v-for="institution in institutions" v-bind:value="institution.id"> {{ institution.name }}

                    </option>
                  </select>
                  </div>
                </div>
                  </div>
                 
                </div>
                   <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Georeference</h4>
                      </div>
                      <div class="card-content">
                        <div id="regularMap" class="map"></div>
                      </div>
                    </div>
                  </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Upload Image</label>
                  <div class="col-sm-10">
                    <input type="file" name="fileToUpload" id="fileToUpload">
                  </div>
                </div>
              </div> -->
             
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-transparent">
        <div class="container">
          <div class="copyright text-center">&copy; Community.GY
            <i class="fa fa-heart heart"></i> Designed and Developed by
            <a href="https://intellectstorm.com" target="_blank">IntellectStorm</a>. </div>
        </div>
      </footer>
    </div>
  </div>
  </div>
</template>
<script>
  import {
    DatePicker,
    TimePicker,
    Slider,
    Tag,
    Input,
    Button,
    Select,
    Option
  } from 'element-ui'
  import PProgress from 'src/components/UIComponents/Progress.vue'
  import PSwitch from 'src/components/UIComponents/Switch.vue' // import users from './users'
  // import {DatePicker, TimePicker, Slider, Tag, Input, Button, Select, Option} from 'element-ui'
  // import PProgress from 'src/components/UIComponents/Progress.vue'
  // import PSwitch from 'src/components/UIComponents/Switch.vue'
  import constants from '../../../../services/constants'
  import auth from '../../../../services/auth'
  import {API_KEY} from '../Maps/API_KEY'
  import GoogleMapsLoader from 'google-maps'
  GoogleMapsLoader.KEY = API_KEY

  export default {
     components: {
      [DatePicker.name]: DatePicker,
     },
    data() {
      return {

        registration: {
          username: '',
          email: '',
          address: '',
          password: '',
          first_name: '',
          last_name: '',
          region_id: '3',
          dob: '',
          wants_mail: true,
          position_id: null,
          ndc_id: '',
        },
        results: [this.getVillages()],
        classifications: [this.getClassifications()],
        institutions: [this.getInstitutions()],
        regions: [this.getRegions()],
        ndcinfo: [this.getNDCsInfo()],
      }
    },
    methods: {
      getVillages() {
        axios.get(constants.API_URL + constants.API_VERSION + '/villages', auth.getAuthHeader()).then(response => {
          this.results = response.data
          console.log('villages data', this.results)
        }).catch(error => {
          console.log(error);
        })
      },
       getRegions() {
        axios.get(constants.API_URL + constants.API_VERSION + '/regions', auth.getAuthHeader()).then(response => {
          this.regions = response.data
          console.log('villages data', this.results)
        }).catch(error => {
          console.log(error);
        })
      },
      //  getNDCs(this.registration.region_id) {
      //    console.log('reg id is', id)
      //   axios.get(constants.API_URL + constants.API_VERSION + '/regions/' + id + '/ndcs', auth.getAuthHeader()).then(response => {
      //     this.ndcs = response.data
      //     console.log('ndc data', this.ndcs)
      //   }).catch(error => {
      //     console.log(error);
      //   })
      // },
      getClassifications() {
        axios.get(constants.API_URL + constants.API_VERSION + '/classifications', auth.getAuthHeader()).then(response => {
          this.classifications = response.data 
          console.log('villages data', this.results)
        }).catch(error => {
          console.log(error);
        })
      },
       getInstitutions() {
        axios.get(constants.API_URL + constants.API_VERSION + '/institutions', auth.getAuthHeader()).then(response => {
          this.institutions = response.data 
          console.log('villages data', this.institutions)
        }).catch(error => {
          console.log(error);
        })
      },
      getNDCsInfo() {
        axios.get(constants.API_URL + constants.API_VERSION + '/ndcs', auth.getAuthHeader()).then(response => {
          this.ndcinfo = response.data 
          console.log('ndc data', this.ndcinfo)
        }).catch(error => {
          console.log(error);
        })
      },
     initRegularMap (google) {
        // Regular Map
        const myLatlng = new window.google.maps.LatLng(40.748817, -73.985428)
        const mapOptions = {
          zoom: 8,
          center: myLatlng,
          scrollwheel: false // we disable de scroll over the map, it is a really annoing when you scroll through page
        }

        const map = new window.google.maps.Map(document.getElementById('regularMap'), mapOptions)

        const marker = new window.google.maps.Marker({
          position: myLatlng,
          title: 'Regular Map!'
        })

        marker.setMap(map)
      },

      submitRegister(){

        var registration = {
          username: this.registration.username,
          email: this.registration.email,
          username: this.registration.username,
          password: this.registration.password,
          first_name: this.registration.first_name,
          last_name: this.registration.last_name,
          dob: this.registration.dob,
          wants_mail: this.registration.wants_mail,
          address: this.registration.address,
          ndc_id: this.registration.ndc_id,
      }

          axios.post(constants.API_URL + constants.API_VERSION + '/users', registration, auth.getAuthHeader()).then(response => {
          this.register = response.data 
          console.log('register data', this.register)
          router.push('login')
        }).catch(error => {
          console.log(error);
        })
      },
    },
     mounted () {
      GoogleMapsLoader.load((google) => {
        // this.initSattelliteMap(google)
        this.initRegularMap(google)
        // this.initCustomSkinMap(google)
      })
    }
  }
</script>
<style></style>
