<template>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Regular Map</h4>
        </div>
        <div class="card-content">
          <div id="regularMap" class="map"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import {API_KEY} from '../Maps/API_KEY.js'
  import GoogleMapsLoader from 'google-maps'
  GoogleMapsLoader.KEY = API_KEY

  export default {
      props: {
          maps: ''
      },
    methods: {
      initRegularMap (google) {
        // Regular Map
        const myLatlng = new window.google.maps.LatLng(40.748817, -73.985428)
        const sample = new window.google.maps.LatLng(40.12345, -73.985428)
        const mapOptions = {
          zoom: 8,
          center: myLatlng,
          scrollwheel: true // we disable de scroll over the map, it is a really annoing when you scroll through page
        }

        const map = new window.google.maps.Map(document.getElementById('regularMap'), mapOptions)

        const marker = new window.google.maps.Marker({
          position: myLatlng,
          title: 'Regular Map!'
        })
        const mark = new window.google.maps.Marker({
          position: sample,
          title: 'Regular Map!'
        })

        marker.setMap(map)
        mark.setMap(map)
      },
    },
    mounted () {
      GoogleMapsLoader.load((google) => {
        // this.initSattelliteMap(google)
        this.initRegularMap(google)
        // this.initCustomSkinMap(google)
      })
    }
  }

</script>
<style>

</style>
