<template>
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Get a Secret Chuck Norris Quote!</h1>
      <button class="btn btn-warning" @click="getQuote()">Get a Quote</button>
      <div class="quote-area" v-if="quote">
        <h2><blockquote>{{ quote }}</blockquote></h2>      
      </div>
    </div>
  </template>

<script>
  import auth from '../../../../services/auth'
  import constants from '../../../../services/constants'
  export default {
    data() {
      return {
        quote: ''
      }
    },
    methods: {
      getQuote() {
        // console.log(auth.getAuthHeader())
        this.$http.get(constants.API_URL+constants.API_VERSION+'/services', auth.getAuthHeader()).then(service =>  {
          //Success
          this.quote = service.data[0];
          headers: auth.getAuthHeader()
          console.log('this quote is',this.quote)
           // Attach the JWT header
        }, service => {
          //Error callback
          console.log(service.data)
        })
      },

      logout() {
        auth.logout('login')
      }
    },
    route: {
      // Check the users auth status before
      // allowing navigation to the route
      canActivate() {
        return auth.user.authenticated
      }
    }
  }
</script>