<template>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="title">Notifications Board</h4>
            <p class="category">Demand Letters</p>
          </div>
          <div class="card-content table-responsive">
              <table id="firstTable">
                <thead>
                  <tr>
                    <th>Title</th>&nbsp;&nbsp;&nbsp;
                    <th>Description</th>&nbsp;&nbsp;&nbsp;
                    <th>Date Published</th>&nbsp;&nbsp;&nbsp;
                    <th>Type</th>&nbsp;&nbsp;&nbsp;
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="notice in notices">
                    <td>{{notice.title}}</td>&nbsp;&nbsp;&nbsp;
                    <td>{{notice.description}}</td>&nbsp;&nbsp;&nbsp;
                    <td>{{notice.start_date}}</td>&nbsp;&nbsp;&nbsp;
                    <td>{{notice.type}}</td>&nbsp;&nbsp;&nbsp;
                    <hr>
                  </tr>
                </tbody>
              </table> 
          </div>
        </div>
      </div>

    </div>
</template>
<script>
  import Vue from 'vue'
  import {Table, TableColumn, CollapseItem, Collapse} from 'element-ui'
  // import Vue from 'vue'
  // import {Collapse, CollapseItem} from 'element-ui'
  import VueTabs from 'vue-nav-tabs'

  Vue.use(VueTabs)
  Vue.use(Collapse)
  Vue.use(CollapseItem)

//   import users from './users'
  import constants from '../../../../services/constants' 
  import auth from '../../../../services/auth' 
  Vue.use(Table)
  Vue.use(TableColumn)
  export default {
    data () {
      return {
        notices: [this.getMyNotifications()],
        activeName: 'first'
      }
    },
    methods: {
      tableRowClassName (row, index) {
        if (index === 0) {
          return 'success'
        } else if (index === 2) {
          return 'info'
        } else if (index === 4) {
          return 'danger'
        } else if (index === 6) {
          return 'warning'
        }
        return ''
      },
      getMyNotifications() {
        axios.get(constants.API_URL + constants.API_VERSION + '/my-notifications', auth.getAuthHeader()).then(response => {
          this.notices = response.data 
          console.log('notifications data', this.notifications)
        }).catch(error => {
          console.log(error);
        })
      },
    }
  }

</script>
<style>

</style>
